* {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	text-align: center;
}
.container h2 {
	padding: 20px;
	background-color: #222;
	border-radius: 10px;
	color: #ffff;
	font-size: 30px;
	margin-bottom: 24px;
}
.color {
	color: rgb(6, 182, 182);
}
.changeColor {
	background-color: transparent;
	padding: 8px;
	border: 2px solid #222;
	border-radius: 8px;
	font-size: 16px;
	letter-spacing: 1.5px;
	cursor: pointer;
	outline: none;
}
.changeColor:hover {
	background-color: #222;
	color: #ffff;
	transition:all  0.3s ease-in;
}
